@import url("http://www.fontstatic.com/f=sky-bold,sky");

body{
    font-family: 'sky';
}

.title{
    font-size: xx-large;
    text-align: right;
    color: #f15d4c;
    margin-top: 60px; 
    padding-bottom: 80px;
    padding-right: 10%;
    float:right ;
    font-weight: bold;

}

/* Left 1 */
.ImageLeft1 img{
    height: 160px;
    width: 203px;
    float: right;
    position: relative;
    padding-right: 350px;
    top: 158px;
    left: 21px;
}

.buttonL1{
    height: 20px;
    width: 54px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 368px;
    left: 496.3px;
}

.okL1{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 368px;
    left: 352px;
}

.aL1{
    font-size: 14px;
    color: rgb(227, 46, 46);
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 367px;
    left: 505.4px;
}

/* Right 1 */
.ImageRight1 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    top: 0px;
    left: 336px;
}

.buttonR1{
    height: 20px;
    width: 54px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 370px;
    left: 811.5px;
}

.okR1{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 370px;
    left: 655px;
}

.aR1{
    font-size: 14px;
    color: rgb(227, 46, 46);
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 369px;
    left: 820px;
}


/* Left 2 */
.ImageLeft2 img{
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
    padding-top: 40px;
}

.buttonL2{
    height: 20px;
    width: 54px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 570px;
    left: 496px;
}

.okL2{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 570px;
    left: 353px;
}

.aL2{
    font-size: 14px;
    color: rgb(227, 46, 46);
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 569px;
    left: 504.5px;
}


/* Right 2 */
.ImageRight2 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    padding-top: 40px;
}

.buttonR2{
    height: 20px;
    width: 54px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 570px;
    left: 812.9px;
}

.okR2{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 570px;
    left: 656px;
}

.aR2{
    font-size: 14px;
    color: rgb(227, 46, 46);
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 569px;
    left: 822px;
}


/* Left 3 */
.ImageLeft3 img {
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
    padding-top: 40px;
    padding-bottom: 20px;
}

.buttonL3{
    height: 20px;
    width: 54px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 770px;
    left: 495.9px;
}

.okL3{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 770px;
    left: 353px;
}

.aL3{
    font-size: 14px;
    color: rgb(227, 46, 46);
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 769px;
    left: 505px;
}


/* Right 3 */
.ImageRight3 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.buttonR3{
    height: 20px;
    width: 54px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 770px;
    left: 812.5px;
}

.okR3{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 770px;
    left: 657px;
}

.aR3{
    font-size: 14px;
    color: rgb(227, 46, 46);
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 770px;
    left: 822px;
}

/* The End - Nada */

* {
    margin: 0px;
    padding: 0;
}

header {
/*do not change*/
    width: auto;
    height: 70px;
    background-color: #ffffff;

}

html,body {
    /*do not change*/
    height: 100%;
}
#container{
    min-height: 100%;

}
#main{
    /*do not change*/
    overflow: auto;
    padding-bottom: 100px;
}

.top {
    /*do not change*/
    position: relative;
    float: right;
    border-radius: 5px;
    background-color: #415ba9;
    margin-top: 30px;
    margin-right: 80px;
    padding: 5px;
}

.underline {
    /*do not change*/
    text-decoration: none;
    color: white;
    margin: 20px;
    padding-top: 60px;
   
}

/* here is my code */

.heading-secondary {
  float: right;
/*   margin-top: 30px; */
  margin-right: 350px; 
  color: #800000;
}

.select-where {
   color: #FF0000;
}

.cta-form {
  margin-top: 0px;
  padding: 10px;
  list-style: circle;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align:center ;
  font-size: 25px
}

.btn-form {
/*   border-radius: 5px; */
  background-color: #C0C0C0;
  margin-top: 40px;
  color: #FF0000;
  padding: 7px 25px;
}

.line {
  font-size: 20px;
  padding-top: 120px;
}

.bottom {
  float: right;
  margin-top: 10px;
}

.bottom-2 {
  float: right;
  margin-top: 40px;
  margin-right: -26%;
  font-size: 10px;
}

.bottom-3 {
  float: right;
  margin-top: 40px;
  margin-right: 68%;
  font-size: 10px;
}

/* end of my code */

footer {
    /*do not change*/
    background-color: #415ba9;
    position:relative ;
/* I have changed */
    height: 450px;
    margin-top: 150px ;
/*End of my changes*/
    clear: both;
    color: #ffffff;

}
#social{
    /*do not change*/
    text-align: right;
    color:rgb(30, 29, 29);
    padding-bottom: 25px;
    margin-right: 50px;
    
   

}
#social a {
    /*do not change*/
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(30, 29, 29);
    border-radius:50px ;
    margin:0 8px ;
    margin-top: 0px;
    
}
/*table {
   position: absolute;
   left:0%;
   margin-top: 70px;
   margin-bottom: 30px;
   height: 70px;
   margin-right: 100px; 
}
*/
#divfoot ul{
    /*do not change*/
    margin-top: 0px;
    padding: 0px;
    list-style: circle;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0px;
    text-align:center ;

}
#divfoot ul li a{
   /*do not change*/
    color:inherit;
    text-decoration: none;
    opacity: 0.8;
}
#divfoot ul li a :hover{
    opacity: 1;

}
#divfoot ul li {
    /*do not change*/
    display: inline-block;
    padding: 0 15px;

}
