/* The Start - Nada */
@import url("http://www.fontstatic.com/f=sky-bold,sky");

body{
    font-family: 'sky';
}

.title{
    font-size: 30px;
    text-align: right;
    color: #f15d4c;
    margin-top: 80px; 
    padding-bottom: 60px;
    padding-right: 10%;
}

/* Left 1 */
.ImageLeft1 img{
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
}

.buttonL1{
    height: 20px;
    width: 54px;
    position: absolute;
    color: #f15d4c;
    top: 384.6px;
    left: 496.3px;
}

.okL1{
    height: 18px;
    width: 18px;
    position: absolute;
    color: #f15d4c;
    top: 384px;
    left: 352px;
}

.aL1{
    font-size: 14px;
    color: #f15d4c;
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 388px;
    left: 505.4px;
}

/* Right 1 */
.ImageRight1 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    top: 0px;
    left: 0px;
}

.buttonR1{
    height: 20px;
    width: 54px;
    position: absolute;
    color:  #f15d4c;
    top: 384.5px;
    left: 812.9px;
}

.okR1{
    height: 18px;
    width: 18px;
    position: absolute;
    color:  #f15d4c;
    top: 384px;
    left: 655px;
}

.aR1{
    font-size: 14px;
    color:  #f15d4c;
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 387.2px;
    left: 823px;
}


/* Left 2 */
.ImageLeft2 img{
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
    padding-top: 40px;
}

.buttonL2{
    height: 20px;
    width: 54px;
    position: absolute;
    color:  #f15d4c;
    top: 584.4px;
    left: 496px;
}

.okL2{
    height: 18px;
    width: 18px;
    position: absolute;
    color:  #f15d4c;
    top: 584px;
    left: 353px;
}

.aL2{
    font-size: 14px;
    color:  #f15d4c;
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 588px;
    left: 506.4px;
}


/* Right 2 */
.ImageRight2 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    padding-top: 40px;
}

.buttonR2{
    height: 20px;
    width: 54px;
    position: absolute;
    color:  #f15d4c;
    top: 584.5px;
    left: 812.9px;
}

.okR2{
    height: 18px;
    width: 18px;
    position: absolute;
    color: rgb(227, 46, 46);
    top: 584.5px;
    left: 656px;
}

.aR2{
    font-size: 14px;
    color:  #f15d4c;
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 587px;
    left: 822px;
}


/* Left 3 */
.ImageLeft3 img {
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
    padding-top: 40px;
    padding-bottom: 20px;
}

.buttonL3{
    height: 20px;
    width: 54px;
    position: absolute;
    color:  #f15d4c;
    top: 784.5px;
    left: 495.9px;
}

.okL3{
    height: 18px;
    width: 18px;
    position: absolute;
    color:  #f15d4c;
    top: 784px;
    left: 353px;
}

.aL3{
    font-size: 14px;
    color:  #f15d4c;
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 787px;
    left: 507px;
}


/* Right 3 */
.ImageRight3 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.buttonR3{
    height: 20px;
    width: 54px;
    position: absolute;
    color:  #f15d4c;
    top: 784.4px;
    left: 813px;
}

.okR3{
    height: 18px;
    width: 18px;
    position: absolute;
    color:  #f15d4c;
    top: 784px;
    left: 657px;
}

.aR3{
    font-size: 14px;
    color:  #f15d4c;
    cursor: grab;
    position: absolute;
    text-decoration: none;
    top: 786.6px;
    left: 822px;
}

/* 1 The End Company - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* 2 The End Left S1 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 3 The End Left S2 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Left S3 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color: #f15d4c;
    margin-top: 50px; 
    /* margin-left: 150px; */
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Right S1 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Right S2 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color: #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color: #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Right S3 - Nada */
/* End! */

* {
    margin: 0px;
    padding: 0;
}

header {
/*do not change*/
    width: auto;
    height: 70px;
    background-color: #ffffff;

}

html,body {
    /*do not change*/
    height: 100%;
}
#container{
    min-height: 100%;

}
#main{
    /*do not change*/
    overflow: auto;
    padding-bottom: 100px;
}

.top {
    /*do not change*/
    position: relative;
    float: right;
    border-radius: 5px;
    background-color: #415ba9;
    margin-top: 30px;
    margin-right: 80px;
    padding: 5px;
}

.underline {
    /*do not change*/
    text-decoration: none;
    color: white;
    margin: 20px;
    padding-top: 60px;
   
}

/* here is my code */

.heading-secondary {
  float: right;
/*   margin-top: 30px; */
  margin-right: 350px; 
  color: #f15d4c;
}

.select-where {
   color: #f15d4c;
}

.cta-form {
  margin-top: 0px;
  padding: 10px;
  list-style: circle;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align:center ;
  font-size: 25px
}

.btn-form {
/*   border-radius: 5px; */
  background-color: #C0C0C0;
  margin-top: 40px;
  color: #f15d4c;
  padding: 7px 25px;
}

.line {
  font-size: 20px;
  padding-top: 120px;
}

.bottom {
  float: right;
  margin-top: 10px;
}

.bottom-2 {
  float: right;
  margin-top: 40px;
  margin-right: -26%;
  font-size: 10px;
}

.bottom-3 {
  float: right;
  margin-top: 40px;
  margin-right: 68%;
  font-size: 10px;
}

/* end of my code */

footer {
    /*do not change*/
    background-color: #415ba9;
    position:relative ;
/* I have changed */
    height: 405px;
    margin-top: 250px ;
/*End of my changes*/
    clear: both;
    color: #ffffff;

}
#social{
    /*do not change*/
    text-align: right;
    color:rgb(30, 29, 29);
    padding-bottom: 25px;
    margin-right: 50px;
    
   

}
#social a {
    /*do not change*/
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(30, 29, 29);
    border-radius:50px ;
    margin:0 8px ;
    margin-top: 0px;
    
}
/*table {
   position: absolute;
   left:0%;
   margin-top: 70px;
   margin-bottom: 30px;
   height: 70px;
   margin-right: 100px; 
}
*/
#divfoot ul{
    /*do not change*/
    margin-top: 0px;
    padding: 0px;
    list-style: circle;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0px;
    text-align:center ;

}
#divfoot ul li a{
   /*do not change*/
    color:inherit;
    text-decoration: none;
    opacity: 0.8;
}
#divfoot ul li a :hover{
    opacity: 1;

}
#divfoot ul li {
    /*do not change*/
    display: inline-block;
    padding: 0 15px;

}
.title-font-orange {

    margin-bottom: 60px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-size: xx-large;
    float: right;
    color: #f15d4c;
    

}
.info-style{

    background-color: #f5f5f5;
    width: 700px;
    padding: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style:ridge ;
    border-width: 1px;
    border-color: #C0C0C0;
    text-align: center;
    font-weight: bold;
 
  

}
.img-riyadh{

    width: 600px;
    height: 410px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-image: url(../Project/images/istockphoto-939989958-612x612.jpg);

}
.break-div{
    margin-top: 150px;
}
.info-style2 p {
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    color: #f15d4c;
    text-align: center;

}
.info-style2{

    padding: 10px;
    width: 300px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-style:ridge ;
    border-width: 1px;
    border-color: #C0C0C0;
    text-align: right;
    font-weight: bold;

}
/*
.info-style3{

    border-style:ridge ;
    border-width: 1px;
    border-color: #C0C0C0;
    text-align: right;
    font-weight: bold;

}
*/
.divs  {
    
    display: flex;
    align-content: center;
    

}

