/* The Start - Nada */
@import url("http://www.fontstatic.com/f=sky-bold,sky");

body{
    font-family: 'sky';
}

.title{
    font-size: 30px;
    text-align: right;
    color: #f15d4c;
    margin-top: 80px; 
    padding-bottom: 60px;
    padding-right: 10%;
}

/* Left 1 */
.ImageLeft1 img{
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
}

/* Right 1 */
.ImageRight1 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    top: 0px;
    left: 0px;
}

/* Left 2 */
.ImageLeft2 img{
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
    padding-top: 40px;
}

/* Right 2 */
.ImageRight2 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    padding-top: 40px;
}

/* Left 3 */
.ImageLeft3 img {
    height: 160px;
    width: 200px;
    float: left;
    position: relative;
    padding-left: 350px ;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Right 3 */
.ImageRight3 img{
    height: 160px;
    width: 213px;
    float: right;
    position: relative;
    padding-right: 350px;
    padding-top: 40px;
    padding-bottom: 100px;
}

/* 1 The End Company - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* 2 The End Left S1 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 3 The End Left S2 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Left S3 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color: #f15d4c;
    margin-top: 50px; 
    /* margin-left: 150px; */
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Right S1 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color:  #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color:  #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Right S2 - Nada */

.companyImage{
    height: 240px;
    width: 450px;
    float: center;
    position: center;
    margin-top: 5%;
    margin-left: 23%;
    border-radius: 14%;
}

.title{
    font-size: 20px;
    text-align: center;
    color:  #f15d4c;
    margin-top: 50px; 
    font-family: Arial, Helvetica, sans-serif;
}

.words{
    font-size: 15px;
    text-align: center;
    color:  #f15d4c;
    font-family: Arial, Helvetica, sans-serif;
}


.WordLeft{
    font-size: 15px;
    text-align: left;
    color: #f15d4c;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.WordRight{
    font-size: 15px;
    text-align: right;
    float: right;
    padding-right: 20%;
    padding-left: 20%;
    color: #f15d4c;
    padding-bottom: 100px;
    cursor: grab;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 4 The End Right S3 - Nada */
/* End! */

* {
    margin: 0px;
    padding: 0;
}

header {
/*do not change*/
    width: auto;
    height: 70px;
    background-color: #ffffff;

}

html,body {
    /*do not change*/
    height: 100%;
}
#container{
    min-height: 100%;

}
#main{
    /*do not change*/
    overflow: auto;
    padding-bottom: 100px;
}

.top {
    /*do not change*/
    position: relative;
    float: right;
    border-radius: 5px;
    background-color: #415ba9;
    margin-top: 30px;
    margin-right: 80px;
    padding: 5px;
}
.toplogo {
    /*do not change*/
    position: relative;
    float: right;
    margin-right: 80px;
    
    
}
.toplogo img {
   width: 120px;
}

.underline {
    /*do not change*/
    text-decoration: none;
    color: white;
    margin: 20px;
    padding-top: 60px;
   
}

/* here is my code */

.heading-secondary {
  float: right;
/*   margin-top: 30px; */
  margin-right: 350px; 
  color: #f15d4c;
}

.select-where {
   color: #f15d4c;
}

.cta-form {
  margin-top: 0px;
  padding: 10px;
  list-style: circle;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align:center ;
  font-size: 25px
}

.btn-form {
/*   border-radius: 5px; */
  background-color: #C0C0C0;
  margin-top: 40px;
  color: #f15d4c;
  padding: 7px 25px;
}

.line {
  font-size: 20px;
  padding-top: 120px;
}

.bottom {
  float: right;
  margin-top: 10px;
}

.bottom-2 {
  float: right;
  margin-top: 40px;
  margin-right: -26%;
  font-size: 10px;
}

.bottom-3 {
  float: right;
  margin-top: 40px;
  margin-right: 68%;
  font-size: 10px;
}

/* end of my code */

footer {
    /*do not change*/
    background-color: #415ba9;
    position:relative ;
/* I have changed */
    height: 440px;
    margin-top: 250px ;
/*End of my changes*/
    clear: both;
    color: #ffffff;

}
#social{
    /*do not change*/
    text-align: right;
    color:rgb(30, 29, 29);
    padding-bottom: 25px;
    margin-right: 50px;
    
   

}
#social a {
    /*do not change*/
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(30, 29, 29);
    border-radius:50px ;
    margin:0 8px ;
    margin-top: 0px;
    
}
/*table {
   position: absolute;
   left:0%;
   margin-top: 70px;
   margin-bottom: 30px;
   height: 70px;
   margin-right: 100px; 
}
*/
#divfoot ul{
    /*do not change*/
    margin-top: 0px;
    padding: 0px;
    list-style: circle;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0px;
    text-align:center ;

}
#divfoot ul li a{
   /*do not change*/
    color:inherit;
    text-decoration: none;
    opacity: 0.8;
}
#divfoot ul li a :hover{
    opacity: 1;

}
#divfoot ul li {
    /*do not change*/
    display: inline-block;
    padding: 0 15px;

}
.title-font-orange {

    margin-bottom: 60px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-size: xx-large;
    float: right;
    color: #f15d4c;
    

}
.info-style{

    background-color: #f5f5f5;
    width: 700px;
    padding: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style:ridge ;
    border-width: 1px;
    border-color: #C0C0C0;
    text-align: center;
    font-weight: bold;
 
  

}


.info-style4 p {
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    color: #f15d4c;
    text-align: center;

}

.info-style4 {

    padding: 10px;
    width: 300px;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 50px;
    border-style:ridge ;
    border-width: 1px;
    border-color: #C0C0C0;
    text-align: right;
    font-weight: bold;

}

.NewsPix{

 
    margin-left: 250px;
    margin-right: 800px;
    margin-top: 150px;

}


.KidsPix{

    float: left;
    margin-left: 623.5px;
    margin-right: 1px;
    margin-top: -400px;

}

.img-riyadh{

    width: 600px;
    height: 410px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-image: url(../Project/images/istockphoto-939989958-612x612.jpg);

}
.break-div{
    margin-top: 150px;
}
.info-style2 p {
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    color: #f15d4c;
    text-align: center;

}
.info-style2{

    padding: 10px;
    width: 300px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-style:ridge ;
    border-width: 1px;
    border-color: #C0C0C0;
    text-align: right;
    font-weight: bold;

}

.divs  {
    
    display: flex;
    align-content: center;   
}
.section-box-background{
    padding: 15em;
    background-image: url(../Project/images/banner.png);
    background-size:100% auto;
    background-repeat: no-repeat;
}
.cover p{
    text-align: right;
    color: #ffffff;
    font-size: x-large;
    padding-right: 6em;
    padding-left: 6em;

}
.cover{
    text-align: center;
    color: #ffffff;
    font-size: x-large;
    padding-bottom: 20em;
    padding-top: 2em;
    padding-left: 2em;
    display: block;
    background-color: #f15d4c;
    border-radius: 25px;
    width: 40%;
    height: 10px;
    margin-left: 60%;
    margin-top: 10%;

    
}
.read-more{

    background-color: #ffffff;
    display: block;
    width: 13em;
    margin-top: 7em;
    margin-left: 11em;


}
.underline2{
    text-decoration: none;
    font-weight:bolder;
    color: black;

   
}
.plan-home{
    display: flex;
    padding: 3em;
    background-color: rgb(255, 255, 255);
    


}
.plans-home{

    margin-left: 10%;
    background-color: #ffffff;
    display: flex;
   
    
}
.pic1{

    margin: 20px;
    width: 30em;
    height: 20em;  
    background-image: url(./images/ytlf_hdh_lmkn_mn_mnhdr_skhry_ytl_l_wd_ws_ybdw_l_nhy_lh.jpg);  
    background-size:contain;
    background-color: #415ba9;
    border: black;
    border-style: solid;
}
.pic2{

    
    margin: 20px;
    width: 30em;
    height: 20em;    
    background-image: url(./images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #415ba9;
    border: black;
    border-style: solid;
}
.pic3{

    margin: 20px;
    width: 30em;
    height: 20em;    
    background-image: url(./images/Riyadh-season-2022.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #415ba9;
    border: black;
    border-style: solid;
}
.text-plan{
    background-color: #ffffff;
    text-align: right;
    padding-right: 13em;
    font-size: larger;
    font-weight: bold;
}
.plans-box{
    background-color: #ffffff;
    text-align: center;
    margin-top: 50%;

}
.read-more-plan{
    padding: 8px;
    background-color: #ffffff;
    display: block;
    text-align: left;
    
    
}

.green-box{
    padding: 10em;
    background-color: #4aba78;
    border-radius: 200px;
    padding: 30px;
    height:600px;
    width: 100%;

}
.green-box-read{

    color: #ffffff;
    text-align: center;
    font-size: larger;
    font-weight: bold;

}
.green-box-read p{

    padding-top: 10em;
    padding-right: 20em;
    color: #ffffff;
    text-align: center;
    font-size: larger;
    font-weight: bold;

}
.company-pic{
    margin-top: 310px;
    margin-left: -400px;
    background-repeat: no-repeat;
    background-image: url(../Project/images/left3.png);
    width: 50%;
    min-height: 800px;
    background-position: center;
    background-size: cover;

}
.div-green-all{

    width: 90%;
    max-width: 1000PX;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.read-more2{

    background-color: #ffffff;
    display: block;
    width: 13em;
    margin-top: 13em;
    margin-left: 15em;
    padding: 1em;
    text-align: center;


}
.boxes-companies{
    background-color: rgb(255, 255, 255);
    display:grid;
    padding: 10em;
}
.two-boxes{
    background-color: rgb(255, 255, 255);
    padding: 3em;
    display: flex;
    margin-left: 15em;

}
.box-1company{
    padding: 10%;
    width: 30em;
    background-image: url(../Project/images/left1.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.box-2company{
    padding: 10%;
    width: 30em;
    background-size: contain;
    background-image: url(../Project/images/right1.png);
    background-repeat: no-repeat;
}

.cpmany-names-divs{
    width: fit-content;
    display: flex;
    position: relative;
    margin-left: 20%;
    padding: 3em;
}
#nam{
    text-align: center;
    background-color: #ffffff;
    padding: 1em;
    margin-left: 10em;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    
}
.namess{
    background-color: #ffffff;
    padding: 1em;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 30em;
    margin-right: 200px;
}
.box-3company{
    padding: 10%;
    width: 30em;
    background-size: contain;
    background-image: url(../Project/images/left2.png);
    background-repeat: no-repeat;
}
.box-4company{
    padding: 10%;
    width: 30em;
    background-size: contain;
    background-image: url(../Project/images/right2.png);
    background-repeat: no-repeat;
}
/* Nada  */
.box-5company{
    padding: 10%;
    width: 30em;
    background-size: contain;
    background-image: url(../Project/images/left3.png);
    background-repeat: no-repeat;
}
.box-6company{
    padding: 10%;
    width: 30em;
    background-size: contain;
    background-image: url(../Project/images/right3.png);
    background-repeat: no-repeat;
}

#nam1{
    text-align: center;
    background-color: #ffffff;
    padding: 1em;
    margin-left: 10em;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    
}
#nam2{
    text-align: center;
    background-color: #ffffff;
    padding: 1em;
    margin-left: 10em;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    
}
.read-more-companies-1{
    
    background-color: #f5f5f5;
    display: block;
    width: 8em;
    padding: 1em;
    text-align: center;
    margin-left: 15em;


}
.toplogin{
    
    position: relative;
    float: left;
    border-radius: 5px;
    background-color: #ededed;
    margin-top: 30px;
    margin-left: 80px;
    padding: 5px;

}
.underline3{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding-top: 60px;
   
}
#restore{
    padding-left: 50em;
}
